@import "vendor/bootstrap-4.0.0-beta/bootstrap";
@import "vendor/fonts/fonts.scss";
@import "vendor/mapbox-gl-0.40.0/mapbox-gl";

body {
    font-size:.85em; 
    line-height:1.65em;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-style: normal;
    color: #666;
}

.container {
    padding:10px 0;
}

h1,h2,h3,h4,h5,h6 {
    /* font-weight: 400;
    font-style: 400;
    font-family: 'proxima-nova-bold'; */
    font-weight: 300;
    font-family: 'Lato';
    letter-spacing: -0.015em;
    text-indent: -0.095em;
    color: #666;
    padding:0.25em;
}

h1 {font-size: 4em;}
h2 {font-size:3.25em;}
h3 {font-size:2.75em;}
h4 {font-size:2em;}
h5 {font-size:1.75;}
h6 {font-size:1.4em;}

a {color: #008fd5;}

.btn-primary {
    color: #fff;
    background-color: #008fd5;
    border-color: #0088cc;
}
.btn-primary:hover {
    color: #fff;
    background-color: #0096e0;
    border-color: #0096e0;
}
.btn {
    font-size:1.1em;
}

strong {
    font-weight: 300;
    font-style: 300;
    font-family: 'Roboto';
}

/** Mapbox Marker **/
.marker {
  background-image: url(/assets/images/mapbox-icon.png);
  background-size: cover;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}